.home-container {
  height: 100vh;
  width: 100%;
  
  background: linear-gradient(rgba(74, 116, 155, 0.85), rgba(74, 116, 155, 0.85)),
              url('https://images.unsplash.com/photo-1576091160550-2173dba999ef?auto=format&fit=crop&w=1000&q=80');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.home-content h1 {
  font-size: 2.8rem;
  font-weight: 300;
  margin-bottom: 2rem;
  font-family: sans-serif;
}

.home-content strong {
  font-weight: 700;
}

.btn-get-started {
  background-color: #6ea9db;
  color: white;
  border: none;
  padding: 12px 40px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background 0.3s;
}

.btn-get-started:hover {
  background-color: #5b92bf;
}